header{
    padding: 10px;
    text-align: center;
}
.title-header {
    background-color: rgb(243, 223, 255);
    color: black;
    font-size: 35px;
    padding: 10px;
    border: black 2px solid;
}
.aboutme {
    margin: 20px;
    padding: 10px;
    border: 2px solid gray;
    background-image: linear-gradient(to bottom, white, rgb(243, 223, 255));
}
.projects {
    margin: 20px;
    padding: 10px;
    border: 2px solid gray;
    background-image: linear-gradient(to bottom, white, rgb(243, 223, 255));
}

.title-header, .aboutme, .projects {
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap{
    margin: 10px;
    text-align: center;
    overflow: hidden;
    height: 200px;
}

.image2{
    margin: -70px 0 -30px 0;
}

.image3{
    margin: -90px 0 -30px 0px;
}

.image1:hover, .image2:hover, .image3:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
   
}